.Login {
    height: 100vh;
    width: 100vw;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,8,111,1) 50%, rgba(2,0,36,1) 100%);
    color: white;
}

.LoginBox{
    background-color: rgb(92, 92, 92);
    border-radius: 10px;
    width: 450px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 20px 10px gray;
}

.input {
    border-radius: 5px;
    border: 0;
    width: 200px;
    height: 25px;
    /* margin-top: 20px; */
}

/* Chrome, Safari, Edge, Opera */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.input[type=number] {
    -moz-appearance: textfield;
}